

ww-green {
    color:#748971;
    background-color: #748971;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 75%;
        font-family: 'Roboto', sans-serif;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .header{
        border-bottom: 1px solid #E2E8F0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: #748971;

    }

    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #FFFFFF;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .navbar-brand {
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        font-family: 'JetBrains Mono', monospace;
    }

    .navbar-brand:hover {
        color:#D0E1D4;
        text-decoration:none;
        
    }

    .nav-item {
        margin-left: 5rem;
    }

    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #D0E1D4;
    }

    .nav-link:hover{
        color: #D0E1D4;
    }

    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: #ffffff;
        font-family: 'JetBrains Mono', monospace;
    }

    .nav-logo:hover {
        color:#D0E1D4;
        text-decoration:none;
        
    }

    

    @media only screen and (max-width: 1023px) {
        .nav-menu {
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }

        .nav-menu.active {
            left: 0;
            background-color:#D0E1D4;
            

        }

        .nav-item {
            margin: 2.5rem 0;
        }

        .hamburger {
            display: block;
            cursor: pointer;
            color: #D0E1D4;

        }

        .navbar-brand {
            font-size: 2.1rem;
            font-weight: 500;
            /*color: #ffffff;*/
            font-family: 'JetBrains Mono', monospace;
            color: #748971;
        }
    
        .navbar-brand:hover {
            color:#D0E1D4;
            text-decoration:none;
            
        }


        .hamburger.active .bar:nth-child(2) {
            opacity: 100;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }


    .ww-btn {
        background-color: #F0FBF6; /* Green */
        border: none;
        color: #748971;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'JetBrains Mono', monospace;
      }

      .fixed-size-content {
        max-height: 100px; 
        overflow-y: auto;
        padding: auto; 
      }