<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <h1><a href="index.html" class="navbar-brand">Forum</a></h1>
        <h1><a href="login.html" class="navbar-brand">Login/Sign Up</a></h1>
        <h1><a href="profile.html" class="navbar-brand">Profile</a></h1>
        <h1><a href="new-post.html" class="navbar-brand">New Post</a></h1>
        <form class="form-inline">
            <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>
