<!-- Old Code -->

<!--<nav class="navbar navbar-dark ww-green"> <!--bg-dark--><!--
    <div class="container">
        <h1><a href="index.html" class="navbar-brand">Forum</a></h1>
        <h1><a href="login.html" class="navbar-brand">Login/Sign Up</a></h1>
        <h1><a href="profile.html" class="navbar-brand">Profile</a></h1>
        <h1><a href="new-post.html" class="navbar-brand">New Post</a></h1>
        <form class="form-inline">
            <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
            <button type="submit" class="ww-btn btn btn-primary">Search</button>
        </form>
    </div>
</nav>-->

<!-- Website ReDesign -->

<link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
/>

<header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo">Woodward Beyond</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="index.html" class="navbar-brand">Forum</a>
            </li>
            <li class="nav-item">
                <a href="login.html" class="navbar-brand">Login/Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="profile.html" class="navbar-brand">Profile</a>
            </li>
            <li class="nav-item">
                <a href="new-post.html" class="navbar-brand">New Post</a>
            </li>
            <li>
                <form class="form-inline">
                    <input type="text" class="form-control mr-3 mb-2 mb-sm-0" placeholder="Search">
                    <button type="submit" class="ww-btn btn btn-primary">Search</button>
                </form>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<!-- Code for Responsive Top Navigation -->
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    
    hamburger.addEventListener("click", mobileMenu);
    
    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }

    const navLink = document.querySelectorAll(".nav-link");

    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
</script>


