<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile - Woodward Beyond</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    {% include 'header.html'%}
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="h4 text-white bg-info mb-0 p-4 rounded-top">User Profile</h2>
                <div class="text-center mb-4">
                </div>
                <table class="table table-striped table-bordered table-responsive-lg">
                    <tbody>
                        <tr>
                            <td class="author-col">
                                <div>Username: {{ user.username }}</div>
                            </td>
                            <td class="post-col d-lg-flex justify-content-lg-between">
                                <div><span class="font-weight-bold">Joined:</span> {{user.date}}</div>
                                <div><span class="font-weight-bold">Posts:</span> 0</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="user-icon.png" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 150px;">
                            </td>
                            <td>
                                <p>User description or other information can be added here.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="small bg-dark text-white">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">&copy; 2023 Woodward Beyond</li>
                <li class="list-inline-item">All rights reserved.</li>
                <li class="list-inline-item"><a href="#0">Terms of use and privacy policy</a>.</li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap JS and jQuery (make sure to include them at the end of the body) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>


</html>
